* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}
a{
    text-decoration: none;
}
p{
    margin: 0.75rem 0;
}
.container{
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll*/
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    /* height: 60px; */
    background: rgba(20, 34, 36, 0.918);
}
.nav-items{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
.nav-item{
    margin: 1rem 1rem;
    padding: 1rem 0.1rem;
}

.nav-item a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.4rem;
    color: #f4f4ff;
}

.nav-item a:hover {
    color:  #2fb868;
}

.logo-img{
    margin-top: -60px;
    margin-left: -60px;
    margin-bottom: -60px;
    height: 170px;
    width: 200px;
    color: #2fb868;
}
.logo-text{
    margin-top: -8px;
    align-self: center;
    font-size: 20px;
    margin-left: 2px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
section#home{
    background: #142224 url('../img/showcase.jpg') no-repeat center center/cover;

}
#home .home-content{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    background-color: rgba(20, 34, 36, 0.4) ;
    color: #fff;
}

#what{
    display: flix;
    justify-content: flex-start;
}

#what .items{
    display: flex;
}
#what .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}
#what .items .item .im{
    width: 150px;
    padding: 1rem;
    border-radius: 50%;   
}
#what .items .item h3{
    margin-top: -45px;
    background: #2fb868 ;
    text-align: center;
    padding: 0.2rem;  
    border-radius: 5px;
}
/**/
#who{
    display: flex;
    
}
#who .items{
    margin-top: 5.5rem;
    display: flex;
    height: 100vh;
    
}
#who .items .item{
    flex: 1;
    padding: 1rem;
}
#who-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

#who .who-img{
    background: url('../img/info.jpg') no-repeat center center/cover;
 }

 /*  Section: Clients*/

#clients .items{
    display: flex;
    margin-top: -4rem;
}
#clients .items .item img{
    display: block;
    margin: auto;
    width: 70%;
    height:  200px;  
}

/* CONTACT*/
#contact{
    display: flex;
    flex-direction: row;
    
    
}

#contact .map, #contact .contact-form{
    margin-top: 10.5rem;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}
#contact .contact-form label{
    display: block;
}
#contact .contact-form input, #contact .contact-form textarea{
    width: 80%;
    padding: 0.5rem;
}