.align{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.list{
    margin: 0.5rem 0;
    list-style: none;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: #233b3f dotted 1px;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: #2fb868
}
.bg-light{
    background: #d4e9e2;
    color: #142224;
}
.bg-dark{
    background: #142224;
    color: #fff;
}
.bg-white{
    background: white;
    color: #142224;
}
.bg-primary{
    background: #2fb868;
    color: #fff;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    /* line-height: 1.1; */
}
.m-heading{
    font-size: 2rem;
    
    /* line-height: 1.1; */
}
.lead{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.py-1{padding: 1.5rem 0;}
.py-2{padding: 2.5rem 0;}
.py-3{padding: 3.5rem 0;}
.py-6{padding: 6.5rem 0;}
.py-8{padding: 8.5rem 0;}
.py-14{padding: 14.5rem 0;}

.p-1{padding: 1.5rem;}
.p-2{padding: 2.5rem;}
.p-3{padding: 3.5rem;}

.btn{
    display: inline-block;
    color: #fff;
    background: #2fb868 ;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn-dark{
    display: inline-block;
    color: #fff;
    background: #142224;
    color: #fff;
    padding: 0.5rem 2rem;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-dark:hover{
    background: #0f1a1b;
    color: #fff;
}
.btn:hover{
    background: #23884d;
}
